# Spring

SPRING_PROFILES_ACTIVE=dev|prod

# Bot service

BOT_PORT=8080

# Worker service

WORKER_PORT=8081

# RabbitMQ

RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_VHOST=suggestvhost
RABBITMQ_DEFAULT_USER=suggestuser
RABBITMQ_DEFAULT_PASS=suggestpass

# PostgreSQL

POSTGRES_PORT=5432
POSTGRES_DB=suggestdb
POSTGRES_USER=suggestuser
POSTGRES_PASSWORD=suggestpass

# Redis

REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=suggestpass
