# Bot service

BOT_PORT=9000

# Worker service

WORKER_PORT=9001

# Prometheus & Grafana

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# RabbitMQ

RABBITMQ_PORT=5672
RABBITMQ_WEB_PORT=15672
RABBITMQ_HOST=rabbitmq
RABBITMQ_DEFAULT_VHOST=suggestvhost
RABBITMQ_DEFAULT_USER=suggestuser
RABBITMQ_DEFAULT_PASS=suggestpass

# PostgreSQL

POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_DB=suggestdb
POSTGRES_USER=suggestuser
POSTGRES_PASSWORD=suggestpass

# Redis

REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=suggestpass
